# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used in Data Science
* Write some evaluating arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. JAVA
5. Julia

#### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|VSCode|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
200 / 60

3.3333333333333335

## Author:
Nikoo Ghourchian